<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Iusable - Strafrecht Trainer</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/autocomplete-style.css" />
  </head>
  <body>
    <img
      src="iusable.svg"
      alt="iusable"
      class="uk-animation-toggle"
      uk-svg="stroke-animation: true"
      style="width:150px;
      padding:25px;"
    />
    <div class="uk-container uk-container-xsmall">
      <div id="app">
        <h1>
          <u uk-toggle="target: #my-id">{{subject}}</u>
          <u v-on:click="changeExercise" style="cursor: pointer;"
            >{{exercise}}</u
          >
          Trainer
        </h1>
        <!-- This is the modal to change the Subject-->
        <div id="my-id" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">
              Fachrichtung für Übungen ändern (aktuell: {{subject}})
            </h2>
            <div
              class="uk-child-width-1-2@s uk-grid-collapse uk-text-center"
              uk-grid
            >
              <div>
                <div
                  class="uk-tile uk-tile-muted"
                  style="border:1px solid grey; margin:10px;"
                  v-on:click="changeSubject('StGB')"
                >
                  <p class="uk-h4">StGB AT</p>
                </div>
              </div>
              <div>
                <div
                  class="uk-tile uk-tile-muted"
                  style="border:1px solid grey; margin:10px;"
                  v-on:click="changeSubject('StGBBT')"
                >
                  <p class="uk-h4">StGB BT</p>
                </div>
              </div>
            </div>
            <button
              class="uk-modal-close uk-button uk-button-default"
              type="button"
            >
              Schliessen
            </button>
          </div>
        </div>
        <p>
          Klicken Sie auf die unterstrichene Fachrichtung oder Übungsart um sie
          zu ändern.
        </p>
        <p>
          {{result}}. Hier ist Deine nächste Aufgabe:
        </p>
        <div
          class="uk-card uk-card-default uk-card-body uk-margin"
          style="border:5px solid grey; padding:25px !important;"
        >
          {{ task.task }}
          <span v-if="loading">
            Lädt...
          </span>
        </div>
        <div id="autocomplete" class="autocomplete">
          <input class="autocomplete-input" id="input" placeholder="..." />
          <ul class="autocomplete-result-list"></ul>
        </div>
        <div class="uk-margin" uk-sortable>
          <div
            v-for="entry in entries"
            class="uk-card uk-card-default uk-card-body uk-margin entry"
            style="padding:15px !important;"
          >
            <span
              class="uk-sortable-handle uk-margin-small-right"
              uk-icon="icon: table"
            ></span>
            {{entry.text}}
          </div>
        </div>
        {{result}}
        <button
          class="uk-button uk-button-primary uk-margin-small"
          v-on:click="control"
        >
          Kontrollieren
        </button>
        <button
          class="uk-button uk-button-danger uk-margin-small"
          v-on:click="erase"
        >
          Übung zurücksetzen
        </button>
        <button
          class="uk-button uk-button-default uk-margin-small"
          v-on:click="newExercise"
        >
          Neue Übung
        </button>
        <button
          class="uk-button uk-button-default uk-margin-small"
          v-on:click="showSolution"
        >
          Lösung anzeigen/ verstecken
        </button>
        <div v-if="solution">
          <h2>Lösung:</h2>
          <ul>
            <li v-for="solution in task.order">{{solution}}</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div style="text-align:center;" class="uk-container uk-container-xsmall">
      <br />
      Dieser Trainer soll das spielerische Üben von Schemata und Definitionen in
      Stichworten ermöglichen. Für Hinweise auf Fehler oder für
      Verbesserungsvorschläge sind wir sehr dankbar.<br />
      Die Inhalte der Übungen stammen von Studierenden an der Universität Basel
      und
      <b> erheben keinen Anspruch auf Richtigkeit oder Aktualität.</b>
      <br />
      Diese App ist ein open-source Projekt von
      <a href="https://colincarter.me" target="_blank">Colin Carter</a>. Der
      Quellcode kann auf
      <a href="https://github.com/streemrunner/Iusable-Trainer" target="_blank"
        >GitHub</a
      >
      gefunden werden.
    </div>
    <!-- VUE JS TODO: Load internally-->
    <script src="js/vue.js"></script>
    <!-- AXIOS-->
    <script src="js/axios.min.js"></script>
    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- AUTOCOMPLETE-->
    <script src="js/autocomplete.min.js"></script>

    <script>
      //Start Vue
      var app = new Vue({
        el: "#app",

        data() {
          return {
            loading: true,
            subject: "StGB",
            exercise: "Schema",
            loaded: false,
            entries: [],
            task: {},
            tasks: [],
            TrainingTask: {},
            possibleEntries: [],
            solution: false,
            result:
              "Wähle die korrekten Tatbestandsmerkmale aus und bringe sie in die richtige Reihenfolge"
          };
        },
        mounted() {
          console.log("MOUNTING...");
          this.load();
        },
        methods: {
          erase() {
            this.entries = [];
          },
          load() {
            this.entries = [];
            console.log("LOADING...");
            let self = this; //Promise function can not access this. so we add this to self.
            console.log("loading" + this.subject + this.exercise);
            let url =
              "https://colincarter.me/cp/api/collections/get/Merkmale" +
              this.subject +
              this.exercise; //MerkmaleStGBSchema

            axios.get(url).then(function(response) {
              // response => (this.tasks = response.entries);
              let entries = response.data.entries;
              self.tasks = entries;
              self.loading = false;
              let rand = Math.floor(Math.random() * entries.length);
              self.task = self.tasks[rand];
              //Possible Entries
              let possibleEntries = ["Platzhalter"];
              entries.forEach(element => {
                element.order.forEach(element => {
                  //No idea if there's a better option than nested forEach... there probably is... Tell me if you know :D
                  possibleEntries.push(element);
                });
              });
              self.possibleEntries = possibleEntries; // Set possible Entries.
              console.log(self.task);
            });
          },
          changeSubject(subject) {
            this.subject = subject;
            this.entries = [];
            this.load();
          },
          changeExercise() {
            if (this.exercise === "Definitionen") {
              console.log("it currently is" + this.exercise);
              this.exercise = "Schema";
              console.log("it changed to" + this.exercise);
              this.result = "Wähle die korrenten Definitionsteile aus.";
            } else {
              console.log("it currently is" + this.exercise);

              this.exercise = "Definitionen";
              console.log("it changed to" + this.exercise);

              this.result =
                "Wähle die korrekten Tatbestandsmerkmale aus und bringe sie in die richtige Reihenfolge";
            }
            this.load();
            console.log("Now it's" + this.exercise);
            this.entries = [];
          },
          newExercise() {
            console.log("loading new Exercise from populated collection");
            let entries = this.tasks;
            let rand = Math.floor(Math.random() * entries.length);
            this.task = this.tasks[rand];
            this.erase();
          },
          showSolution() {
            this.solution = !this.solution;
          },
          control() {
            console.log("controlling...");
            let goalArray = this.task.order;
            let userArray = [];
            //populate userArray:
            let allElements = document.getElementsByClassName("entry"); //returns HTML-Collection, not array
            var arr = [].slice.call(allElements); //Converting to Array.
            arr.forEach(element => {
              userArray.push(element.textContent.trim());
            });
            let result = true;
            if (this.exercise === "Schema") {
              console.log("controlling Schema");
              goalArray.forEach(function(e, i) {
                if (e === userArray[i]) {
                  console.log("correct");
                  document.getElementsByClassName("entry")[i].style.border =
                    "5px solid #AAFF80";
                } else {
                  document.getElementsByClassName("entry")[i].style.border =
                    "5px solid #F04F6E";
                  console.log(false);
                  result = false;
                }
              });
            } else {
              console.log("controlling Definition");

              //For the definitions the exact order isn't important...
              if (goalArray.length == userArray.length) {
                goalArray.forEach(function(e, i) {
                  if (!userArray.includes(e)) {
                    result = false;
                    document.getElementsByClassName("entry")[i].style.border =
                      "5px solid #F05F6E";
                  } else {
                    document.getElementsByClassName("entry")[i].style.border =
                      "5px solid #AAFF80";
                  }
                });
              } else {
                console.log("Not enough entries");
                getElements;
              }
            }
            if (result) {
              this.result = "Herzlichen Glückwunsch! Das ist richtig!";
            } else {
              this.result = "Etwas stimmt noch nicht ganz...";
            }
          }
        }
      });

      //Autocomplete

      let options = {
        search: input => {
          if (input.length < 1) {
            return [];
          }
          return app.possibleEntries.filter(entry => {
            return entry.toLowerCase().startsWith(input.toLowerCase());
          });
        },
        onSubmit: result => {
          //add data to vue App
          app.entries.push({ text: result });
          document.getElementById("input").value = "";
        }
      };
      new Autocomplete("#autocomplete", options);

      //Set Training Task
      // if (!!!app.TrainingTask) {
      //   app.TrainingTask = app.tasks[Math.floor(Math.random() * tasks.length)];
      //   console.log(app.TrainingTask);
      //   app.task = TrainingTask;
      // }
    </script>
  </body>
</html>
